service-account*.json
client_secret*.json
.credentials
*.pdf
.vscode
target
applogs
out.json

batch
.obsidian
out
store
batch.md
archive
filters
complied_summary.md
lancom thing.md
asdfdas.tct
thing.json
Untitled.md
